* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial;
}

body {
  display: flex;
  height: 100vh;
  justify-content: center;
  align-items: center;
  background: #0f0f0f;
  padding: 20px;
}

.container {
  width: 100%;
  max-width: 400px;
  background: #1e1e1e;
  padding: 25px;
  border-radius: 15px;
  color: white;
  box-shadow: 0px 0px 15px #000;
  text-align: center;
}

h1 {
  margin-bottom: 20px;
}

#password {
  width: 100%;
  padding: 12px;
  font-size: 18px;
  border-radius: 8px;
  border: none;
  margin-bottom: 20px;
  text-align: center;
}

button {
  padding: 12px;
  border: none;
  border-radius: 8px;
  background: dodgerblue;
  color: white;
  font-size: 16px;
  cursor: pointer;
}

button:hover {
  background: #0074e8;
}

@media (max-width: 480px) {
  .container {
    padding: 18px;
  }
  #password {
    font-size: 16px;
  }
  button {
    font-size: 15px;
  }
}
@media only screen and (max-width:375px) {
 .box{
    height: 300px;
 }
}  
